name: Check Pushes

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  check:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run SimpleScraper
        run: scrapy crawl simple -s FORCE=True

      - name: Run DecryptScraper
        run: scrapy crawl decrypt -s FORCE=True

      - name: Git commit and push
        uses: GuillaumeFalourd/git-commit-push@v1.3
        with:
          commit_message: "Force the Update"
          files: config.json scrapy.log nodes/*
          force: 1
          empty: 1
