name: Check Push

on:
  workflow_dispatch:
  push:
    branches:
      - dev

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Python
        run: python main.py --debug True --api_key ${{secrets.API_KEY}} --secret_key ${{secrets.SECRET_KEY}}

      - name: Git Commit Push Action
        uses: GuillaumeFalourd/git-commit-push@v1.3
        with:
          commit_message: "Force the Update"
          files: config.json nodes/*
          empty: 1
