name: Regular Update

on:
  schedule:
    - cron: "0 2-14/6 * * *" # 每天, 时区+8
  workflow_dispatch:
jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Python
        run: python main.py --api_key ${{secrets.API_KEY}} --secret_key ${{secrets.SECRET_KEY}}

      - name: Git Commit Push Action
        uses: GuillaumeFalourd/git-commit-push@v1.3
        with:
          commit_message: "Update on Schedule"
          files: config.json nodes/*
          empty: 1
